gb-infinite-scroll > gb-list {
  display: block;
  overflow-y: scroll;
  height: 200px;
}

gb-infinite-scroll > gb-list li {
  height: 340px;
  min-width: 220px;
}

/*gb-infinite-scroll .gb-list__wrapper {
  align-content: flex-end;
}*/
