gb-infinite-scroll > ul {
  display: block;
  overflow-y: scroll;
  height: 200px;
}

.gb-list__wrapper--grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gb-list__wrapper--grid .gb-list__item {
  flex: 1;
}
