gb-infinite-scroll > gb-list {
  display: block;
  /* overflow-y: scroll; */
  height: inherit;
}

gb-infinite-scroll > gb-list li {
  height: 340px;
  min-width: 220px;
}

gb-infinite-scroll {
  display: block;
  height: 800px;
  overflow-y: scroll;
}
